---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>

  <h1>🔬 Grom-Lab: Cybersecurity Research, Labs, & Ideas</h1>
  <p>Follow my experiments in security automation, honeypots, APT simulation, and more.</p>

		</main>
		<Footer />
	</body>
</html>
